#container{
    height: 100%;
    box-sizing: border-box;
    display: flex;

    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    flex-direction: row;
}

#calculator{
    display: flex;
    flex: 1;

    flex-direction: column;
    margin-right: 20px;
}

#calculator #keypad{
    flex: 3;
    border-spacing: 0px 0px;
    margin-top: 15px;
}

.keybutton{
    text-align: center;
    border-radius: 5px;
    background: none;
    transition-property: background;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}
.keybutton:active{
    background: var(--col-fg);
    transition-duration: 20ms;
}

#calculator #calc-input{
    flex: 1;

    font-size: 30px;
    color: #fff;

    text-align: center;

    background: none;
    border: none;
}

#products{
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#product-display{
    flex: 4;

    font-size: 28px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#table-container{
    height: 100%;
}
#product-table{
    text-align: left;
}
#product-table td{
    color: var(--col-tex-dim);
}

#product-actions{
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-top: 10px;

    align-items: center;
    justify-content: center;
}

#product-actions div{
    flex: 1;

    width: 100%;
    display: flex;
    flex-direction: row;
}

#addbutton{
    border: 3px solid var(--col-pos);
    color: var(--col-pos);
}

#removebutton{
    border: 3px solid var(--col-err);
    color: var(--col-err);
}

#nextbutton{
    border: 3px solid var(--col-ok);
    color: var(--col-ok);
}