#login-form{
    padding: 30px;
    padding-top: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form #login-title{
    opacity: 90%;
    margin-bottom: 15px;
}

#login-form input{
    font-size: 20px;
}

#login-form .text-input{
    margin-bottom: 25px;
}

#login-form #login-button{
    margin-top: 15px;
}

#login-form label{
    font-weight: lighter;
    font-size: 23px;
}